@model Cumulative1.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>@Model.TeacherFName @Model.TeacherLName</h2>
<a href="/Teacher/List">Back to Teacher List</a>
<ul>
    <li>Employee Number: @Model.EmployeeNumber</li>
    <li>Hire Date: @Model.HireDate.ToShortDateString()</li>
    <li>Salary: @Model.Salary</li>
</ul>

<div>
    <a href="/Teacher/ConfirmDelete/@Model.TeacherId">Delete this Teacher</a>
</div>
<div style="text-align: center">
    <a href="/Teacher/Update/@Model.TeacherId">Update this Teacher's information</a>
</div>