@model Cumulative1.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>@Model.TeacherFName @Model.TeacherLName</h2>
<ul>
    <li>Employee Number: @Model.EmployeeNumber</li>
    <li>Hire Date: @Model.HireDate</li>
    <li>Salary: @Model.Salary</li>
</ul>
